alias \
  sudo="sudo " \
  myip="curl ipinfo.io/ip" \
  ports="ss -tupan" \
  cp="cp -iv" \
  mv="mv -iv" \
  rm="rm -iv" \
  rmr="rm -Ivr" \
  ls="ls --color" \
  lm="ls -t -l" \
  lt="ls --human-readable --size -l -S --classify" \
  mkd="mkdir -pv" \
  mkdir="mkdir -pv" \
  ping="ping -c 5" \
  path="print -l $path" \
  psmem="ps -e -orss=,args= | sort -b -k1 -nr" \
  psmem10="ps -e -orss=,args= | sort -b -k1 -nr | head -n10" \
  pscpu="ps -e -o pcpu,cpu,nice,state,cputime,args | sort -k1 -nr" \
  pscpu10="ps -e -o pcpu,cpu,nice,state,cputime,args | sort -k1 -nr | head -n10" \
  yt="yt-dlp --add-metadata -i" \
  yta="yt-dlp --audio-quality 0 -x --audio-format mp3" \
  camload="sudo modprobe v4l2loopback exclusive_caps=1 max_buffers=2" \
  camstream="gphoto2 --stdout --capture-movie | ffmpeg -hwaccel nvdec -c:v mjpeg_cuvid -i - -vcodec rawvideo -pix_fmt yuv420p -threads 0 -f v4l2 /dev/video0" \
  fixkeymap="setxkbmap -layout us,se -option 'grp:alt_shift_toggle'" \
  capsoff="setxkbmap -option caps:none" \
  capson="setxkbmap -option caps:capslock" \
  aurup="pacopts aur -u | tail -n+2 | sed 's/:: //' | fzf --preview='pacopts aur -i {1}' --preview-window=up | awk '{print \$1}' | xargs -ro pacopts aur -U" \
  orphdel="pacman -Qdtq | fzf --preview='pacman -Qi {1}' --preview-window=up | awk '{print \$1}' | xargs -ro sudo pacman -Rns" \
  pwroff="dbus-send --system --print-reply --dest=org.freedesktop.ConsoleKit /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Stop" \
  restart="dbus-send --system --print-reply --dest=org.freedesktop.ConsoleKit /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Restart"
