[opener]
edit = [
  { run = 'konsole -e nvim "$@"', block = false, orphan = true, for = "unix", desc = "Edit in nvim" },
]

terminal = [
  { run = 'konsole --workdir "$@"', block = false, orphan = true, for = "unix", desc = "Open terminal here" },
]

slice_fdm = [
  { run = 'orca-slicer "$@"', block = false, orphan = true, for = "unix", desc = "Slice for FDM print" },
]

slice_resin = [
  { run = 'chitubox "$@"', block = false, orphan = true, for = "unix", desc = "Slice for resin print" },
]

view_model = [
  { run = 'glc_player "$@"', block = false, orphan = true, for = "unix", desc = "View 3D model" },
]

freecad = [
  { run = 'freecad "$@"', block = false, orphan = true, for = "unix", desc = "Edit in FreeCAD" },
]

document_view = [
  { run = 'okular "$@"', block = false, orphan = true, for = "unix", desc = "View in Okular" },
]

mpv = [
  { run = 'mpv --force-window "$@"', block = false, orphan = true, for = "unix", desc = "Play in mpv" },
]

vlc = [
  { run = 'vlc --started-from-file "$@"', block = false, orphan = true, for = "unix", desc = "Play in VLC" },
]

[open]
prepend_rules = [
  { url = "*.3mf", use = ["slice_fdm", "slice_resin"] },
  { url = "*.obj", use = ["slice_fdm", "slice_resin"] },
  { url = "*.gcode", use = "slice_fdm" },
  { url = "*.step", use = "slice_fdm" },
  { url = "*.ctb", use = "slice_resin" },
  { url = "*.ctp", use = "slice_resin" },
  { url = "*.chitubox", use = "slice_resin" },

  { url = "*.stl", use = ["view_model", "slice_fdm", "slice_resin"] },
  { url = "*.dae", use = "view_model" },
  { url = "*.off", use = "view_model" },
  { url = "*.coff", use = "view_model" },
  { url = "*.3dxml", use = "view_model" },
  { url = "*.3ds", use = "view_model" },

  { url = "*.FCStd", use = "freecad" },

  { mime = "inode/directory", use = "terminal" },
  { mime = "folder/*", use = "terminal" },

  { mime = "video/*", use = ["mpv", "vlc"] },
  { mime = "audio/*", use = ["mpv", "vlc"] },

  { mime = "application/pdf", use = "document_view" },
  { mime = "application/postscript", use = "document_view" },
  { mime = "application/xps", use = "document_view" },
  { mime = "application/epub+zip", use = "document_view" },
  { mime = "application/x-mobipocket-ebook", use = "document_view" },
  { url = "*.cbr", use = "document_view" },
  { url = "*.djvu", use = "document_view" },
  { url = "*.djv", use = "document_view" },
]
